absl-py==2.1.0
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.4.0
attrs==24.2.0
audioread==3.0.1
Babel==2.15.0
blinker==1.8.2
cachetools==5.4.0
captain==4.5.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
coqpit==0.0.17
cryptography==43.0.0
cycler==0.12.1
Cython==0.29.28
datatypes==0.15.0
dateparser==1.1.8
decorator==5.1.1
dill==0.3.8
docopt==0.6.2
exceptiongroup==1.2.2
fastapi==0.112.0
filelock==3.15.4
Flask==3.0.3
fonttools==4.53.1
fsspec==2024.6.1
g2pkk==0.1.2
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-core==2.4.1
google-cloud-speech==2.27.0
google-cloud-storage==2.18.0
google-cloud-vision==3.7.4
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
grpcio==1.65.4
grpcio-status==1.62.3
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.1
gruut-lang-en==2.0.1
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.24.5
HyperPyYAML==1.2.2
idna==3.7
inflect==5.6.0
iniconfig==2.0.0
intel-openmp==2021.4.0
itsdangerous==2.2.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
jsonlines==1.2.0
kiwisolver==1.4.5
librosa==0.8.0
llvmlite==0.38.1
lxml==5.2.2
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.8.4
mecab-python3==1.0.5
mkl==2021.4.0
mpmath==1.3.0
multiprocess==0.70.16
nest-asyncio==1.6.0
networkx==2.8.8
nltk==3.8.1
num2words==0.5.13
numba==0.55.2
numpy==1.22.4
packaging==24.1
pandas==2.2.2
pathos==0.3.2
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pooch==1.8.2
pox==0.3.4
ppft==1.7.6.8
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyaudioconvert==0.0.5
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
PyExecJS==1.5.1
pynndescent==0.5.13
pyparsing==3.1.2
pypinyin==0.52.0
pysbd==0.3.4
pytest==7.2.1
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-multipart==0.0.5
pytz==2024.1
PyYAML==6.0.1
regex==2024.7.24
requests==2.32.3
resampy==0.4.3
rfc3986==1.5.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.13.1
sentencepiece==0.2.0
six==1.16.0
sniffio==1.3.1
soundfile==0.12.1
speechbrain==1.0.0
starlette==0.37.2
sympy==1.13.1
tbb==2021.13.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tokenizers==0.19.1
tomli==2.0.1
tqdm==4.66.5
trainer==0.0.36
transcribe==0.0.7
transformers==4.43.4
translators==5.9.2
git+https://github.com/mosesmmoisebidth/torch-modified-tts.git
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
umap-learn==0.5.1
unidic-lite==1.0.8
urllib3==2.2.2
uvicorn==0.30.5
websockets==10.4
Werkzeug==3.0.3
